<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tupibooru</title>

    <link rel="stylesheet" href="../../static/css/midnight.css">
    <!--<link rel="stylesheet" href="../../static/css/custom/midday.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>

<body>
    {% include 'utils/header.html' %}
    <main class="index">
        <article>
            <section class="section-bar">
                <div>Doações para despesas mensais</div>
                <div>
                    <a href="https://ko-fi.com/redepotiguara" target="_blank" class="default-button">
                        Doe Aqui! <img src="../../static/imgs/decoration/ko-fi.png" alt="">
                    </a>
                </div>
            </section>
            <section>
                <p>Porque hostear um site não é de graça.</p>
            </section>
        </article>

        <article>
            <section class="section-bar">
                <div>Em alta</div>
            </section>
            <section>
                <div class="trending">
                    <a href="board_example.html">/bo/ - Boteco</a>
                    <a href="thread1_example.html">
                        <img src="../../static/imgs/examples/expost1.png" alt="">
                        <p>Título do Post</p>
                        <pre>Este é um post de exemplo.
Possui um único anexo.</pre>
                    </a>
                </div>
                <div class="trending">
                    <a href="board_example.html">/an/ - Animangá</a>
                    <a href="thread1_example.html">
                        <img src="../../static/imgs/examples/expost1.png" alt="">
                        <p>Título do Post</p>
                        <pre>Este é um post de exemplo.
Possui um único anexo.</pre>
                    </a>
                </div>
                <div class="trending">
                    <a href="board_example.html">/jo/ - Jogos e Cultura</a>
                    <a href="thread1_example.html">
                        <img src="../../static/imgs/examples/expost1.png" alt="">
                        <p>Título do Post</p>
                        <pre>Este é um post de exemplo.
Possui um único anexo.</pre>
                    </a>
                </div>
                <div class="trending">
                   <a href="board_example.html">/cri/ - Criações</a>
                    <a href="thread1_example.html">
                        <img src="../../static/imgs/examples/expost1.png" alt="">
                        <p>Título do Post</p>
                        <pre>Este é um post de exemplo.
Possui um único anexo.</pre>
                    </a>
                </div>
                <div class="trending">
                    <a href="board_example.html">/pc/ - Computarias</a>
                    <a href="thread1_example.html">
                        <img src="../../static/imgs/examples/expost1.png" alt="">
                        <p>Título do Post</p>
                        <pre>Este é um post de exemplo.
Possui um único anexo.</pre>
                    </a>
                </div>
                <div class="trending">
                    <a href="board_example.html">/flb/ - Faria Lima Bets</a>
                    <a href="thread1_example.html">
                        <img src="../../static/imgs/examples/expost1.png" alt="">
                        <p>Título do Post</p>
                        <pre>Este é um post de exemplo.
Possui um único anexo.</pre>
                    </a>
                </div>
            </section>
        </article>
    </main>
    
    {% include 'utils/footer.html' %}
    {% include 'utils/popups.html' %}
    {% include 'utils/scripts/index-scripts.html' %}
</body>

</html>