<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ username }} | Tupibooru</title>

    <link rel="stylesheet" href="../../static/css/midnight.css">
    <!--<link rel="stylesheet" href="../../static/css/custom/midday.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>

<body>
    {% include 'utils/header.html' %}
    <main>
        <div>
            {% include 'utils/user-profile.html' %}
            {% include 'utils/user-comments.html' %}
        </div>
        {% include 'utils/aside-profile.html' %}
    </main>
    
    {% include 'utils/footer.html' %}
    {% include 'utils/popups.html' %}
    {% include 'utils/scripts/profile-scripts.html' %}
</body>

</html>