<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regras | Tupibooru</title>

    <link rel="stylesheet" href="../../static/css/midnight.css">
    <!--<link rel="stylesheet" href="../../static/css/custom/midday.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>

<body>
    {% include 'utils/header.html' %}
    <main class="index">
        <article>
            <section class="section-bar">
                <div>Regras</div>
            </section>
            <section>
                <ul>
                    <li>
                        <a>1. Não poste, discuta, solicite ou envie links para conteúdos que violam as leis brasileiras.
                        </a>
                        <p>Ao postar você garante que todo conteúdo segue a LGPD e o Marco Civil da Internet, marcas
                            e direitos autorais pertencem aos seus respectivos donos, arquivos enviados são de
                            responsabilidade do usuário e comentários são propriedade de seus autores.</p>
                    </li>
                    <li>
                        <a>2. Conteúdos e discussões deste site são indicados exclusivamente para maiores de 18
                            (dezoito) anos.</a>
                        <p>A entrada e o uso do site por menores de 18 anos são estritamente proibidos e constituem uma
                            violação desta regra.</p>
                    </li>
                    <li>
                        <a>3. Mantenha-se nos temas propostos de cada board, evite discussões políticas fora do /bo/ e
                            não envie de material sexualmente explícito fora do /cri/.</a>
                        <p>- Mantenha-se estritamente nos temas propostos de cada board, Postagens Off-Topic (fora do
                            tópico) serão removidas. <br> <br>
                            - Discussões políticas, além de altamente desicentivadas, devem ser
                            limitadas exclusivamente ao board /bo/. <br> <br>
                            - Não envie material sexualmente explícito ("Sexualmente explícito" refere-se a
                            conteúdo que mostra ou descreve atos sexuais reais ou simulados, nudez genital, ou toques
                            íntimos (genitais, seios, nádegas) com o propósito de excitação, incluindo pornografia,
                            masturbação, uso de brinquedos sexuais e sexualização de partes do corpo) fora do /cri/,
                            conteúdo ecchi ainda é permitido.
                        </p>
                    </li>
                    <li>
                        <a>4. Conteúdo de qualidade é de grande importância para esta comunidade, posts que não possuem
                            qualidade intrínseca são desincentivados.</a>
                        <p>Não polua as boards com posts de má vontade, não divulgue servidores do discord nem fale sobe
                            panelinhas e/ou integrantes delas.
                        </p>
                    </li>
                    <li>
                        <a>5. Regras de etiqueta.</a>
                        <p>Seja legal, não seja um cuzão com outras pessoas sem motivo e não espalhe informações,
                            acontecimentos ou mídias pessoais sem o consentimento alheio, nem reclame da staff ou fique
                            inventando historinhas, ninguem é pago para lhe aturar e você vai ser banido.
                        </p>
                    </li>
                </ul>
            </section>
        </article>
    </main>
    {% include 'utils/footer.html' %}
    {% include 'utils/popups.html' %}
    {% include 'utils/scripts/index-scripts.html' %}
</body>

</html>