<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/{{ board_info.board_uri }}/ - {{ thread_id }} | Tupibooru</title>

    <link rel="stylesheet" href="../../static/css/midnight.css">
    <!--<link rel="stylesheet" href="../../static/css/custom/midday.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>

<body>
    {% include 'utils/header.html' %}
    <main>
        {% include 'utils/thread-posts.html' %}
    </main>

    {% include 'utils/footer.html' %}
    {% include 'utils/popups.html' %}
    {% include 'utils/scripts/thread-scripts.html' %}
</body>

</html>