<aside>
    <section class="aside-button">
        <a class="default-button" href="catalog_example.html"><span class="material-symbols-outlined">browse</span></a>
        <button class="default-button post"><span class="material-symbols-outlined">add_circle</span>Criar um
            Post</button>
    </section>
    <section class="aside-title">
        <p>Informações</p>
        <button class="default-button minimize">
            <span class="material-symbols-outlined">keyboard_arrow_up</span>
        </button>
    </section>
    <section class="aside-content">
        <p>Poste sobre oque quiser, contanto que siga as Regras Globais.</p>
    </section>
    <section class="aside-title">
        <p>Regras Globais</p>
        <button class="default-button minimize">
            <span class="material-symbols-outlined">keyboard_arrow_up</span>
        </button>
    </section>
    <section class="aside-content">
        <ul>
            <li>
                <a>1.</a>
                <p>Não poste, discuta, solicite ou envie links para conteúdos que violam as leis brasileiras.
                </p>
            </li>
            <li>
                <a>2.</a>
                <p>Conteúdos e discussões deste site são indicados exclusivamente para <strong>maiores de 16
                        (dezesseis) anos</strong>.
                    <br> A entrada de menores é proibida.
                </p>
            </li>
            <li>
                <a>3.</a>
                <p>Mantenha-se nos temas propostos de cada board, evite discussões políticas fora do /bo/ e não
                    envie de <strong>material sexualmente explícito</strong> fora do /cri/. <br>
                    Visite o <a href="faq_example.html">FAQ</a> para mais informações.
                </p>
            </li>
            <li>
                <a>4.</a>
                <p>Conteúdo de qualidade é de
                    grande importância para esta
                    comunidade, posts que não
                    possuem qualidade intrínseca
                    são desincentivados, isto inclui:<br>
                    - Coppypastas. <br>
                    &nbsp;&nbsp;(Permitido no /bo/ e /jo/) <br>
                    - Textos indecifráveis. <br>
                    - Shitposts irônicos. <br>
                    &nbsp;&nbsp;(Permitido no /bo/ e /jo/) <br>
                    - Spam ou Flood. <br>
                    - Posts divulgando contas ou
                    servidores do Discord. <br>
                    - Discussões sobre panelinhas ou pessoas envolvidas. <br>
                    &nbsp;&nbsp;(Você vai ser banido!)
                </p>
            </li>
            <li>
                <a>5.</a>
                <p>Seja legal:<br>
                    - Ataque ideias, não pessoas.<br>
                    - Não compartilhe Dox.<br>
                    - Não reclame da Staff, nem invente histórias sobre a mesma.
                </p>
            </li>
        </ul>
    </section>
</aside>