<aside>
    <section class="aside-title">
        <p>Situação de Perfil</p>
        <button class="default-button minimize">
            <span class="material-symbols-outlined">keyboard_arrow_up</span>
        </button>
    </section>
    <section class="aside-content">
        <section class="warns">
            <div class="warn-slot noob">
                <img src="../../static/imgs/warns/warn-noob.png" alt="">
            </div>
            <div class="warn-slot porn">
                <img src="../../static/imgs/warns/warn-porn.png" alt="">
            </div>
            <div class="warn-slot clown">
                <img src="../../static/imgs/warns/warn-clown.png" alt="">
            </div>
            <div class="warn-slot dumb">
                <img src="../../static/imgs/warns/warn-dumb.png" alt="">
            </div>
        </section>
    </section>
    <section class="aside-title">
        <p>Painel do Administrador</p>
        <button class="default-button minimize">
            <span class="material-symbols-outlined">keyboard_arrow_up</span>
        </button>
    </section>
    <section class="aside-content">
        <section class="case">
            <button class="default-button reviewe1">
                <span class="material-symbols-outlined">
                    visibility
                </span>
            </button>
            <p>Caso #1 - Post #4124</p>
        </section>
        <section class="case">
            <button class="default-button reviewe2">
                <span class="material-symbols-outlined">
                    visibility
                </span>
            </button>
            <p>Caso #2 - Nome de Usuário</p>
        </section>
    </section>
</aside>