<header class="desktop-header">
    <a href="index_example.html"><img class="header-logo" alt="Tupibooru"></a>
    <div>
        <div tabindex="0" class="dropdown themes">
            <a class="default-button"><span class="material-symbols-outlined">palette</span></a>
            <div class="default-window">
                <button class="default-button selected-theme">Midnight
                    <span class="material-symbols-outlined">check_small</span></button>
                <button class="default-button">Highnoon
                    <span class="material-symbols-outlined">check_small</span>
                </button>
                <button class="default-button">Minechan
                    <span class="material-symbols-outlined">check_small</span>
                </button>
                <button class="default-button">Snowfall
                    <span class="material-symbols-outlined">check_small</span>
                </button>
                <button class="default-button">eXPerience
                    <span class="material-symbols-outlined">check_small</span>
                </button>
                <button class="default-button">Balatro
                    <span class="material-symbols-outlined">check_small</span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-desktop">
        <ul>
            <li><a class="default-button active" href="board_example.html">/bo/ - Boteco</a></li>
            <li><a class="default-button" href="board_example.html">/an/ - Animangá</a></li>
            <li><a class="default-button" href="board_example.html">/jo/ - Jogos e Cultura</a></li>
            <li><a class="default-button" href="board_example.html">/cri/ - Criações</a></li>
            <li><a class="default-button" href="board_example.html">/pc/ - Computarias</a></li>
            <li><a class="default-button" href="board_example.html">/flb/ - Faria Lima Bets</a></li>
            <li tabindex="0" class="dropdown">
                <a class="default-button">Conta</a>
                <div class="default-window">
                    <form action="">
                        <section>
                            <a>Login</a>
                        </section>
                        <div>
                            <section class="input">
                                <span class="material-symbols-outlined">mail</span>
                                <input type="email" placeholder="Usuário ou Email">
                            </section>
                        </div>
                        <div>
                            <section class="input">
                                <span class="material-symbols-outlined">key</span>
                                <input type="password" placeholder="Senha">
                            </section>
                        </div>
                        <section>
                            <button class="default-button">
                                Logar-se
                                <span class="material-symbols-outlined">login</span>
                            </button>
                        </section>
                    </form>
                    <section>
                        <a class="underline-button" target="_blank" href="">
                            Esqueceu a senha?
                        </a>
                        •
                        <a class="underline-button" target="_blank" href="register_example.html">
                            Crie uma conta
                        </a>
                    </section>
                </div>
            </li>
            <li tabindex="0" class="dropdown" style="display: none;">
                <a class="default-button" href="profile_example.html">Perfil</a>
            </li>
        </ul>
    </nav>
</header>

<header class="mobile-header">
    <section>
        <button class="default-button">
            <span class="material-symbols-outlined">
                menu
            </span>
        </button>
        <aside class="nav-menu">
            <ul>Menu de Boards
                <li><a href="">/bo/ - Boteco</a></li>
                <li><a href="">/an/ - Animangá</a></li>
                <li><a href="">/tv/ - Filmes e Séries</a></li>
                <li><a href="">/cri/ - Criações</a></li>
                <li><a href="">/pc/ - Computarias</a></li>
                <li><a href="">/flb/ - Faria Lima Bets</a></li>
            </ul>
        </aside>
    </section>
    <section class="dropdown">
        <button class="default-button">
            <img class="mobile-logo" alt="">
            <span class="material-symbols-outlined">
                keyboard_arrow_down
            </span>
        </button>
        <div class="default-window">
            <div class="default-button">
                <a href="index_example.html">
                    <span class="material-symbols-outlined">
                        home
                    </span>Homepage
                </a>
            </div>
            <div class="default-button">
                <a href="catalog_example.html">
                    <span class="material-symbols-outlined">
                        view_list
                    </span>Catálogo - Board
                </a>
            </div>
            <button class="default-button post">
                <span class="material-symbols-outlined">
                    add
                </span>Criar Post
            </button>
        </div>
    </section>
</header>