<div class="default-window comment-type">
    <div class="media-wrapper">
        <img src="../../static/imgs/examples/anon.png" alt="">
    </div>
    <div class="input">
        <form action="">
            <textarea name="" id="" rows="1" placeholder="Comentar..." maxlength="500" style="height: 20px;"></textarea>
            <button class="default-button">
                <span class="material-symbols-outlined">
                    edit
                </span>
            </button>
        </form>
    </div>
</div>

<div class="comment-post">
    <section class="comment-original">
        <div class="media-wrapper">
            <img src="../../static/imgs/examples/anon.png" alt="">
        </div>
        <div>
            <section class="comment-bar">
                <p>Nome de Usuário</p>
                <p>há 2 horas</p>
            </section>
            <section class="comment-content">
                <p>
                    Esse é um exemplo de comentário com três linhas. <br>
                    Comentários possuem um limite de 500 caracteres. <br>
                    Imitei o youtube no estilo.
                </p>
            </section>
            <section class="comment-buttons">
                <button class="default-button">
                    Responder
                </button>
                <div class="reply-type" style="display: block;">
                    <form action="">
                        <textarea name="" id="" rows="1" placeholder="Comentar..." maxlength="500"></textarea>
                        <div class="reply-buttons">
                            <button class="default-button">Responder</button>
                            <button class="default-button cancel" type="button">Cancelar</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <div>
            <div tabindex="0" class="dropdown">
                <a class="default-button">
                    <span class="material-symbols-outlined">
                        more_vert
                    </span>
                </a>
                <div class="default-window">
                    <button class="default-button pin">
                        <span class="material-symbols-outlined">
                            keep
                        </span>Fixar no topo
                    </button>
                    <button class="default-button delete">
                        <span class="material-symbols-outlined">
                            delete
                        </span>Remover
                    </button>
                    <button class="default-button block">
                        <span class="material-symbols-outlined">
                            visibility_off
                        </span>
                        Bloquear
                    </button>
                    <button class="default-button report">
                        <span class="material-symbols-outlined">
                            warning
                        </span>Denunciar
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="comment-reply">
        <div class="media-wrapper">
            <img src="../../static/imgs/examples/anon.png" alt="">
        </div>
        <div>
            <section class="comment-bar">
                <p>Nome de Usuário</p>
                <p>há 2 horas</p>
            </section>
            <section class="comment-content">
                <p>
                    Esse é um exemplo de comentário de resposta. <br>
                    Ele possui um padding maior para a esquerda, parecendo algo indentado.
                </p>
            </section>
            <section class="comment-buttons">
                <button class="default-button">
                    Responder
                </button>
                <div class="reply-type" style="display: block;">
                    <form action="">
                        <textarea name="" id="" rows="1" placeholder="Comentar..." maxlength="500"></textarea>
                        <div class="reply-buttons">
                            <button class="default-button">Responder</button>
                            <button class="default-button cancel" type="button">Cancelar</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <div>
            <div tabindex="0" class="dropdown">
                <a class="default-button">
                    <span class="material-symbols-outlined">
                        more_vert
                    </span>
                </a>
                <div class="default-window">
                    <button class="default-button pin">
                        <span class="material-symbols-outlined">
                            keep
                        </span>Fixar no topo
                    </button>
                    <button class="default-button delete">
                        <span class="material-symbols-outlined">
                            delete
                        </span>Remover
                    </button>
                    <button class="default-button block">
                        <span class="material-symbols-outlined">
                            visibility_off
                        </span>
                        Bloquear
                    </button>
                    <button class="default-button report">
                        <span class="material-symbols-outlined">
                            warning
                        </span>Denunciar
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>