<article class="user-profile">
    <section>
        <div class="media-wrapper">
            <img src="../../static/imgs/examples/anon.png" alt="">
        </div>
        <div>
            <section>
                <p>Nome de Usuário</p>
                <div tabindex="0" class="dropdown">
                    <a class="default-button"><span class="material-symbols-outlined">manage_accounts</span></a>
                    <div class="default-window">
                        <button class="default-button manage">Painel de Usuário</button>
                        <button class="default-button trust">Tornar Mod. Geral</button>
                        <button class="default-button warn">Advertir Usuário</button>
                        <button class="default-button ban">Banir Usuário</button>
                    </div>
                </div>
            </section>
            <section>
                <div class="badge supporter">Apoiador</div>
                <div class="badge pioneer">Pioneiro</div>
                <div class="badge gmod">Mod Geral</div>
                <div class="badge bmod">Mod de /bo/</div>
                <div class="badge admin">Administrador</div>
            </section>
            <section>
                <p>Membro desde: Data</p>
            </section>
        </div>
    </section>
    <section class="section-bar">
        <button class="default-button block">
            <span class="material-symbols-outlined">
                visibility_off
            </span>
            Bloquear
        </button>
        <button class="default-button report">
            <span class="material-symbols-outlined">
                warning
            </span>
            Denunciar
        </button>
    </section>
</article>